# PyCharm
.idea/

.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.Python
.pytest_cache/


# virtualenv
venv*/

# misc
.DS_Store
.tox
.coverage
.coverage.*
.cache
coverage.xml
*.log
.git

# Sensitive Data
*.json
config.py

# dotenv

